body{
background-color: #CED5DC;
border: solid 10px black;
border-radius: 5px;
width: auto;
height: auto;
text-align: center;
font-family: serif;
background-image: url('slate.jpg');
filter: opacity(85%);
}

h1{
  background-color: white;
  font-size: 100px;
  height: 250px;
  margin: 0;
  padding: 100px;
  letter-spacing: .03em;
  color: #3A4A5C;
  text-shadow: 4px 4px 4px Gray;
  border-bottom: solid 10px black;
}

.content{
  border: solid 4px lightGray;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: 20px;
}

button{
  margin: 50px 50px 20px 50px;
  font-size: 50px;
  padding: 30px;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px white;
  border-radius: 10px;
  color: black;
  font-family: serif;
  filter: opacity(100%) drop-shadow(0 0 0.75rem black);
}

button:hover{
  background-color: red;
  border: solid 3px gray;
  color: white;
  border-radius: 10px;
  filter: opacity(100%) drop-shadow(0 0 0.75rem white);
}

#quoteDisplay{
  padding: 100px;
  font-size: 80px;
  text-transform: capitalize;
  background-color: lightGray;
  height: 600px;
  width: 400px;
  border-radius: 30%;
  margin: auto;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem black);
  color: black;
}

img{
width: 300px;
height: 350px;
position: absolute;
margin-left: -350px;
}
p{
  color: white;
  font-size: 40px;
  margin: auto;
  padding: 20px;
  text-shadow: 2px 2px 5px black;
}
